.App {
  text-align: center;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #c0bdb6;
}

.container-0 {
  width: 40%;
  background: #25333c;
  padding: 3%;
  margin: 20% auto;
  display: flex;
  justify-content: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 50vh;

  word-break: break-all;
}

.bloc-tabs {
  display: flex;
}
.tabs {
  font-weight: 600;
  padding: 5%;
  text-align: center;
  width: 50%;
  background: #44535a;
  color: #e0ded9;
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  outline: none;
}

.active-tabs {
  background: #1ab188;
  color: #fff;
}

.active-tabs::before {
  content: "";
  display: block;
}

button {
  border: none;
}
.content {
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
 color: #fff;
}
.active-content {
  display: block;
}
